.hikeContainer {
    margin:5%;
    border: 2px solid;
    border-radius: 16px;
    border-color: green;
    background-color: rgba(158, 235, 52, 0.5);
    padding:2%;
}

.button {
    color:white;
}
.centered {
    text-align: center;
}

.browserLink {
    color: white;
}