.hikesDiv {
	min-height: 100vh;
	width: 500px;
	align-items: center;
	text-align: center;
}

.hikeDiv {
	border: 2px solid green;
	border-radius: 10px;
	background-color: rgb(200, 200, 200);
	padding: 10px 50px 10px 50px;
	margin-top: 10px;
	width: fit-content;
	min-width: 50vh;
	text-align: center;
}

.inputsDiv {
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: fit-content;
	height: fit-content;
	border: 5px solid lightgreen;
	border-radius: 50px;
	background-color: lightgreen;
}
.inputsBox {
	margin: 20px;
}

.login {
	color: white;
	text-shadow: -2px 0 darkgreen, 0 2px darkgreen, 2px 0 darkgreen,
		0 -2px darkgreen;
	text-align: center;
}
.centeredContainer {
	align-items: center;
	text-align: center;
	margin: 20px;
}

.hoverButton:hover {
	background-color: aqua;
}

.star {
	border: 0;
	min-height: 30px;
	min-width: 30px;
	background-size: cover;
	background-image: url('../Images/star.jpg');
}

.starOnHover {
	background-image: url('../Images/hoverStar.jpg');
}
