.badge {
    border: 0;
	height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px;
	background-size: 100% 100%;
    background-image: url('../Images/badge1.jpg');
}
.userHikes {
    padding:5%
}

.centered {
    text-align: center;
}