.inputsDiv{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px;
    width: fit-content;
    height: fit-content;
    border: 5px solid lightgreen;
    border-radius: 50px;
    background-color: lightgreen;
}
.inputsBox{
    margin:20px;
    
}

.login{
    color: white;
    text-shadow: -2px 0 darkgreen, 0 2px darkgreen, 2px 0 darkgreen, 0 -2px darkgreen;
    text-align: center;
}
.centeredContainer{
    align-items: center;
    text-align: center;
    margin: 20px;
}