.browserContainer{
    background-color: rgba(87, 99, 90,0.3);
    border: 2px solid rgba(87, 99, 90, 1);
    width: 100%;
}

.browserLink {
    color: #855723;
}

.browserText{
    color: #855723;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    font-weight: bold;
}
.textContainer{
    padding-top: 2px;
}

/* Dropdown Button */
.dropbtn {
    color: #855723;
    background-color: #B99C6B;
    padding: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1b2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 7px 6px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
