.footerDiv {
    background-color: #B99C6B;
    border: 2px solid #855723;
    color: #855723;
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 0;
}



