.imageShare {
    width: auto;
    align-self: center;
    border: 2px solid;
    border-radius: 16px;
    background-color: #B99C6B;
    border: 2px solid #855723;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.textCenter {
    text-align: center;
}
.eventContainer{
    margin: 5%;
    border: 2px solid;
    border-radius: 16px;
    border-color:darkblue;
    background-color: rgba(52, 235, 214,0.5);
    
    padding:2%;
}
.row {
    padding:0%;
}
.hikeContainer {
    margin: 5%;
    border: 2px solid;
    border-radius: 16px;
    border-color: green;
    background-color: rgba(158, 235, 52, 0.5);
    padding:2%;
}
.link{
    color:aliceblue;
}
.centered{
    text-align: center;
}
.name{
    margin:0;
    padding:0;
    text-align: center;
}

.container {
    padding:0;
}
#root {
    width:100%;
}