.gore{
    margin:10px;
    padding:10px;
    padding-right: 10px;
}
.container {
    margin:0;
    margin-right: 0;
    padding:5%;
    max-width: 100%;
}

.important {
    font-weight: bold;
}
.space {
    margin-left: 3%;
}
.yes{
    color: green;
}
.no{
    color: red;
}
.body {
    background-color: rgba(110, 50, 4, 0.3);
}