body{
    padding-top: 0px;
}
.userNameDiv {
    align-items:right;
    text-align:right;
    color:rgb(8, 0, 82);
    font-size:50;
    border: 2px black;
    padding-right: 10px;
}
.userName{
    border: 2px black;
}
.app {
    position:relative;
}